@media (max-width: 535px) {
  .productDetails-main {
    width: 100%;
    padding: 0 10px;
    position: relative;
  }
  .productDetails-main .productDetails-wraper {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
  }
  .productDetails-main .productDetails-wraper .productDetails-cont {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 15px;
  }
  .productDetails-main .productDetails-wraper .productDetails-cont .productDetails-image-wraper {
    width: 100%;
    height: 400px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    padding: 3px;
    border-radius: 10px;
  }
  .productDetails-main .productDetails-wraper .productDetails-cont .productDetails-image-wraper img {
    width: -moz-fit-content;
    width: fit-content;
    height: 100%;
    border-radius: 7px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .productDetails-main .productDetails-wraper .productDetails-cont .productDetails-color-tag-info {
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
    opacity: 70%;
  }
  .productDetails-main .productDetails-wraper .productDetails-cont .productDetails-color-tag-info p {
    font-size: 0.8rem;
    font-weight: 500;
  }
  .productDetails-main .productDetails-wraper .productDetails-cont .productDetails-color-tag-info p span {
    font-size: 0.8rem;
  }
  .productDetails-main .productDetails-wraper .productDetails-cont .productDetails-title-wraper {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 15px;
  }
  .productDetails-main .productDetails-wraper .productDetails-cont .productDetails-title-wraper h2 {
    font-size: 1rem;
    font-weight: 600;
  }
  .productDetails-main .productDetails-wraper .productDetails-cont .productDetails-title-wraper h2::first-letter {
    text-transform: uppercase;
  }
  .productDetails-main .productDetails-wraper .productDetails-cont .productDetails-title-wraper p {
    font-size: 0.9rem;
    font-weight: 400;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
  }
  .productDetails-main .productDetails-wraper .productDetails-cont .productDetails-price-wraper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .productDetails-main .productDetails-wraper .productDetails-cont .productDetails-price-wraper .productDetails-discount-price {
    font-size: 0.8rem;
    text-decoration-line: line-through;
    opacity: 50%;
  }
  .productDetails-main .productDetails-wraper .productDetails-cont .productDetails-price-wraper .productDetails-price {
    font-size: 1.2rem;
    font-weight: 600;
  }
  .productDetails-main .productDetails-wraper .productDetails-cont .productDetails-price-wraper .productPriceOff {
    padding: 1px 8px;
    border-radius: 6px;
    font-size: 0.7rem;
    color: white;
    background-color: #111;
  }
  .productDetails-main .productDetails-wraper .productDetails-cont .productDetails-offers {
    width: 100%;
    height: 200px;
    background-color: rgb(235, 235, 235);
    padding: 15px;
    border-radius: 15px;
  }
  .productDetails-main .productDetails-wraper .productDetails-cont .productDetails-offers p {
    font-size: 0.9rem;
    font-weight: 500;
  }
  .productDetails-main .productDetails-wraper .productDetails-cont .productDetails-offers p::first-letter {
    text-transform: uppercase;
  }
  .productDetails-main .productOrderOrAddToCart {
    width: 100%;
    height: 40px;
    position: fixed;
    bottom: 20px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
  }
  .productDetails-main .productOrderOrAddToCart .productButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 20px;
    width: 40%;
    background-color: rgba(236, 236, 236, 0.5607843137);
    border-radius: 50px;
    border: 1px solid transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(6px);
    gap: 5px;
    font-weight: 400;
  }
  .productDetails-main .productOrderOrAddToCart .productButton:hover {
    background-color: rgba(230, 230, 230, 0.6235294118);
    border: 1px solid #dadada;
    font-weight: 500;
  }
  .productDetails-main .productOrderOrAddToCart .productButton .addToCartText {
    pointer-events: none;
  }
}/*# sourceMappingURL=productDetails.css.map */