@media (max-width: 535px) {
    .productDetails-main{
        width: 100%;
        padding: 0 10px;
        position: relative;

        .productDetails-wraper{
            width: 100%;
            height: fit-content;

            .productDetails-cont{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: start;
                gap: 15px;

                .productDetails-image-wraper{
                    width: 100%;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #eee;
                    padding: 3px;
                    border-radius: 10px;
                    position: relative;

                    img{
                        width: fit-content;
                        height: 100%;
                        border-radius: 7px;
                        object-fit: cover;
                        pointer-events: none;
                    }

                    .productLikeButton{
                        position: absolute;
                        top: 5px;
                        right: 5px;
                        z-index: 80;
                        font-size: 1.4rem;
                        color: #a1a1a1;
                        cursor: pointer;
                    }

                    .ri-heart-fill{
                        color: rgba(241, 38, 106, 0.815);
                    }
                }

                .productDetails-color-tag-info{
                    width: 100%;
                    height: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 5px;
                    opacity: 70%;

                    p{
                        font-size: 0.8rem;
                        font-weight: 500;
                    
                        span{
                            font-size: 0.8rem;
                        }
                    }
                }

                .productDetails-title-wraper{
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    justify-content: start;
                    gap: 15px;

                    h2{
                        font-size: 1rem;
                        font-weight: 600;
                        opacity: 95%;

                        &::first-letter{
                            text-transform: uppercase;
                        }
                    }

                    p{
                        font-size: 0.9rem;
                        font-weight: 400;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        opacity: 70%;
                    }
                }

                .productDetails-price-wraper{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;

                    .productDetails-discount-price{
                        font-size: 0.8rem;
                        text-decoration-line: line-through;
                        opacity: 50%;
                    }

                    .productDetails-price{
                        font-size: 1.2rem;
                        font-weight: 600;
                    }

                    .productPriceOff{
                        padding: 1px 8px;
                        border-radius: 6px;
                        font-size: 0.7rem;
                        color: white;
                        background-color: #111;
                    }
                }

                .productDetails-offers{
                    width: 100%;
                    height: 200px;
                    background-color: rgb(235, 235, 235);
                    padding: 15px;
                    border-radius: 15px;

                    p{
                        font-size: 0.9rem;
                        font-weight: 500;
                        &::first-letter{
                            text-transform: uppercase;
                        }
                    }
                }

                .productDetails-wraper{
                    width: 100%;
                    height: 400px;
                    background-color: red;
                    border-radius: 10px;
                }
            }
        }

        .productOrderOrAddToCart{
            width: 100%;
            height: 40px;
            position: fixed;
            bottom: 20px;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 25px;

            .productButton{
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 5px 20px;
                width: 40%; 
                background-color: #ececec8f;
                border-radius: 50px;
                border: 1px solid transparent;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                backdrop-filter: blur(6px);
                gap: 5px;
                font-weight: 400;
                
                
                &:hover{
                    background-color: #e6e6e69f;
                    border: 1px solid #dadada;
                    font-weight: 500;
                }

                .addToCartText{
                    pointer-events: none;
                }
            }
        }
    }
}