:root {
  --DisplayNone: none;
}

@media (max-width: 535px) {
  .allCloth-main {
    width: 100%;
  }
  .allCloth-main .allCloth-cont-main {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  .allCloth-main .allCloth-cont-main .allCloth-cont {
    width: 100%;
    max-height: -moz-fit-content;
    max-height: fit-content;
    background-color: rgba(243, 243, 243, 0.836);
    border-radius: 10px;
    overflow: hidden;
    padding: 5px;
    transition: all ease 0.2s;
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    position: relative;
  }
  .allCloth-main .allCloth-cont-main .allCloth-cont:hover {
    background-color: rgba(236, 236, 236, 0.918);
    scale: 1.003;
    border: 1px solid rgba(202, 202, 202, 0.397);
    --DisplayNone: block;
  }
  .allCloth-main .allCloth-cont-main .allCloth-cont img {
    width: 100%;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 5px;
  }
  .allCloth-main .allCloth-cont-main .allCloth-cont LazyImage {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .allCloth-main .allCloth-cont-main .allCloth-cont .allCloth-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
  .allCloth-main .allCloth-cont-main .allCloth-cont .allCloth-details h2 {
    width: 100%;
    text-align: start;
    margin-top: 6px;
    height: -moz-fit-content;
    height: fit-content;
    font-size: 0.9rem;
    font-weight: 400;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 18px;
  }
  .allCloth-main .allCloth-cont-main .allCloth-cont .allCloth-details .allCloth-price {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    gap: 5px;
    font-weight: 600;
  }
  .allCloth-main .allCloth-cont-main .allCloth-cont .allCloth-details .allCloth-price .allCloth-price-wrap {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 5px;
  }
  .allCloth-main .allCloth-cont-main .allCloth-cont .allCloth-details .allCloth-price .allCloth-price-wrap p:nth-child(2) {
    font-size: 0.8rem;
    font-weight: 400;
    text-decoration-line: line-through;
    opacity: 50%;
    margin: 5px 0;
  }
  .allCloth-main .allCloth-cont-main .allCloth-cont .allCloth-details .allCloth-price .productDiscount {
    padding: 1px 5px;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-weight: 400;
    font-size: 0.7rem;
  }
  .allCloth-main .allCloth-cont-main .allCloth-cont .allCloth-bookmark-wraper {
    display: var(--DisplayNone);
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 30;
  }
  .allCloth-main .allCloth-cont-main .allCloth-cont .allCloth-bookmark-wraper .allCloth-Bookmark {
    width: 30px;
    height: 30px;
    background-color: rgba(240, 240, 240, 0.705);
    backdrop-filter: blur(2px);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(182, 182, 182);
    transition: all ease 0.3s;
  }
  .allCloth-main .allCloth-cont-main .allCloth-cont .allCloth-bookmark-wraper .allCloth-Bookmark:hover {
    scale: 1.05;
  }
  .allCloth-main .allCloth-cont-main .allCloth-cont .allCloth-bookmark-wraper .allCloth-Bookmark .ri-bookmark-fill {
    color: red;
  }
}/*# sourceMappingURL=allCloth.css.map */